<div class="container-fluid">
  <h1 class="heading-order text-center">Confirm your Order</h1>
  <div class="jumbotron">
    <p class="details"><strong>Sender Name:</strong> <%= @order.sender_name %></p>
    <p class="details"><strong>Sender Phone:</strong> <%= @order.sender_phone %></p>
    <p class="details"><strong>Sender Email:</strong> <%= @order.sender_email %></p>
    <p class="details"><strong>Source Location:</strong> <%= @order.source_location %></p>
    <p class="details"><strong>Recipient Name:</strong> <%= @order.recipient_name %></p>
    <p class="details"><strong>Recipient Phone:</strong> <%= @order.recipient_phone %></p>
    <p class="details"><strong>Recipient Email:</strong> <%= @order.recipient_email %></p>
    <p class="details"><strong>Destination Location:</strong> <%= @order.destination_location %></p>
    <p class="details"><strong>Services:</strong> <%= @order.services %></p>
    <p class="details"><strong>Description:</strong> <%= @order.description %></p>
    <button class="btn btn-primary text-center" type="submit">Submit your Order</button>
    
    <% if @order.status != 'Cancelled' %>
      <%= button_to 'Cancel Order', cancel_order_path(@order), method: :get, data: { confirm: 'Are you sure you want to cancel this order?' }, class: "btn btn-warning" %>
    <% end %>

  </div>


</div>




