<div class="container-fluid">
  <div class="jumbotron" style="width: 100%;">
    <h2 style="font-weight: bolder;">CONTACT US</h2>
    <p class="lead">We are waiting for you to get in touch with us</p>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <%= form_for @contact,  validate: true do |f| %>
          <div class="form-group">
            <%= f.label :firstName %>
            <%= f.text_field :firstName, class: "form-control" , validate: { presence: true } %>
          </div>
          <div class="form-group">
            <%= f.label :lastName %>
            <%= f.text_field :lastName, class: "form-control", validate: { presence: true } %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control", validate: { presence: true } %>
          </div>
          <div class="form-group">
            <%= f.label :phoneNumber %>
            <%= f.text_field :phoneNumber, class: "form-control", validate: { presence: true } %>
          </div>
          <div class="form-group">
            <%= f.label :comment %>
            <%= f.text_area :comment, class: "form-control", validate: { presence: true } %>
          </div>
          <%= f.submit "submit", class: "btn btn-primary" %>
        <% end%>
      </div>
    </div>
  </div>
</div>
